In [46]:


%matplotlib inline
import geopandas as gpd
import pandas as pd
pd.set_option('display.max_columns', 100)
from geopandas import GeoDataFrame
import matplotlib.pyplot as plt
import numpy as np
import requests
from io import open as iopen

In [104]:
# global variable for API key
#API_streetview=load this from file
API_streetview="AIzaSyBCr1xymHM5TErUhvcdUOD9_QjV-4amgmE"
global_fov = "50"

In [105]:
def streetview(dataframe,apikey,sizex,sizey,fov,saveloc):
    
    properties = []
    base = "https://maps.googleapis.com/maps/api/streetview?"
    for index, row in dataframe.iterrows():
        uniqueid,address = str(row[0]),str(row[4])
        prop = (uniqueid, address)
        properties.append(prop)
#     status = []
#     unique_id = []
# add in a way to track the status codes
    for prop in properties:
        
        uniqueid,address=prop
        size = "size={}x{}".format(sizex,sizey)
        location = "&location={}, Philadelphia,PA".format(address)
        key = "key={}".format(apikey)
        url = "{}{}&{}&{}".format(base,size,location,key)
        filename="{}/{}.png".format(saveloc,uniqueid)
        myfov="fov={}".format(fov)
        r = requests.get(url)
        print(r)
        print(filename)
        if r.status_code == requests.codes.ok:  
            with open(filename,'wb') as fd:
                fd.write(r.content)
        else:
            print(r.status_code)


# Import data

In [49]:
flips = gpd.read_file("data/02_flip-investigations_data/rtt_Flips_grantors.geojson")
flips.crs = {'init':'epsg:2272'}

/Users/adamvosburgh/opt/anaconda3/envs/geo-2021/lib/python3.6/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [50]:
flips.head(20)[['deedDiff','display_date_x','grantors_x','grantees_x_x','street_address_x']]

,deedDiff,display_date_x,grantors_x,grantees_x_x,street_address_x
0,455.0,2006-07-31T00:00:00,SCURON STEVEN,BRYANT DAWN ANN,1 ALLAIRE PL
1,130.0,2004-11-23T00:00:00,CONWAY PATRICK M,MCCARNEY BREINN,1 CHRISTIAN ST UNIT 26L
2,327.0,2014-04-22T00:00:00,MANSFIELD RYAN,NORTON SCOTT; TOSCANI KIMBERLY UPORSKY,1 CHRISTIAN ST UNIT 33
3,327.0,2014-04-22T00:00:00,MANSFIELD RYAN,NORTON SCOTT; TOSCANI KIMBERLY UPORSKY,1 CHRISTIAN ST UNIT 33U
4,31.0,2010-07-13T00:00:00,NATIONAL RESIDENTIAL NOMINEE SERVICES INC,KIM WON M,1 CHRISTIAN ST UNIT 37U
5,418.0,2005-06-28T00:00:00,RICKENBACH JEFFREY,GILFILLAN DAVID P; GILFILLIAN SUSAN B,1 LINDEN TER
6,337.0,2006-05-31T00:00:00,GILFILLAN DAVID P; GILFILLAN SUE B,KOHN KATHRYN; YELLOCK MONICA,1 LINDEN TER
7,134.0,2001-12-12T00:00:00,KELLY THOMAS,AAZAMI HASSAN; AAZAMI MANSOUREH,1 QUEEN ST UNIT 13A
8,130.0,2007-07-16T00:00:00,BLAKE SAMUEL M,KRYMSKAYA VERA P,1 W HAMPTON RD
9,356.0,2018-04-30T00:00:00,GREENVALE DEVELOPMENT LLC,ISSEL ERIK M,1 WISSAHICKON LN
10,237.0,2004-01-13T00:00:00,BUILDER ONE INC,MCFILLIN TARA L,10 CATHARINE ST
11,202.0,2013-06-20T00:00:00,MORELLI CARLO,LOPEZ JEANNETTE L; LOPEZ JEANNETTE LYNN; LOPEZ...,10 CATHARINE ST
12,499.0,2014-02-14T00:00:00,MT AIRY USA,JOHNSON AMY N,10 E HORTTER ST
13,68.0,2005-04-18T00:00:00,TORRES ANGEL,VARGAS EVA,10 E SILVER ST
14,85.0,2010-01-08T00:00:00,SEATON GROUP LLC,GONZALEZ YVONNE,10 E SILVER ST
15,428.0,2013-05-10T00:00:00,MAHARAY KURT,BOWIE DENISE,10 W SHARPNACK ST
16,265.0,2010-06-15T00:00:00,100 ALNUS PLACE LLC,PSILLOS ACHILLEAS; PSILLOS ANNA IRENE,100 ALNUS PL
17,567.0,2002-08-20T00:00:00,MERIDIAN PROPERTY GROUP LLC,SPALLETTA CARMEN,100 APSLEY ST
18,26.0,2005-12-27T00:00:00,CASH CONSTRUCTION INC,SMITH FRANCIS X,100 MCKEAN ST
19,281.0,2006-09-06T00:00:00,HILL STEPHEN J,RUBIN CHASE,100 N MILLICK ST

# Street view extracts

In [51]:
flips_topaddress = flips['street_address_x'].value_counts() 

flips_topaddress.head()

3817 POPLAR ST      16
12 HAMILTON CIR     10
2813 BROWN ST        7
720 N DEKALB ST      6
900-14 S 18TH ST     6
Name: street_address_x, dtype: int64

In [69]:
flips_selects = flips.loc[(flips['street_address_x'] == "3817 POPLAR ST") | 
                         (flips['street_address_x'] == "12 HAMILTON CIR") |
                         (flips['street_address_x'] == "2813 BROWN ST") |
                         (flips['street_address_x'] == "720 N DEKALB ST") |
                         (flips['street_address_x'] == "900-14 S 18TH ST")]

flips_singleAddress = flips_selects.groupby('street_address_x').nth(0).reset_index()




flips_singleAddress.head(20)

,street_address_x,id,C_DIG1DESC,C_DIG2DESC,C_DIG3DESC,OBJECTID,YEAR,VACBLDG,adjusted_cash_consideration,adjusted_total_consideration,document_id,document_type,fair_market_value,grantees_x_x,grantors_x,grantor_inv,lat,lng,matched_regmap,multi_invest,grantor_occ,owner_occup,property_count,display_date_x,recording_date,reg_map_id,sort_year_x,total_consideration,ward,unit_num,zip_code,deedDiff2,deedDiff,geometry
0,12 HAMILTON CIR,459723,Residential,Residential Medium,Residential Rowhouse,172704,2012,None,74750.0,74750.0,50336292,DEED,77395.20,JACKSON LISA RYAN; JACKSON THOMAS,BRAUN MEGHAN AINE; BRAUN SHIMON,0.0,-75.170269,39.962630,160N050091,1.0,1.0,0,2.0,2001-09-27T00:00:00,2001-10-04T00:00:00,160N050091,2001,149500.0,8.0,None,19130.0,97.0,97.0,POINT (2691532.455 239805.069)
1,2813 BROWN ST,67962,Residential,Residential Medium,Residential Rowhouse,171603,2012,None,334000.0,334000.0,51273953,DEED,0.00,MICHAS SPIRO,29TH STREET COMMONS LP,1.0,-75.183067,39.970908,008N070129,NaN,0.0,1,1.0,2005-09-09T00:00:00,2005-09-21T00:00:00,008N070129,2005,334000.0,15.0,120,19130.0,17.0,17.0,POINT (2687858.845 242714.752)
2,3817 POPLAR ST,231987,Residential,Residential Medium,Residential Rowhouse,143583,2014,None,NaN,NaN,52139428,DEED,11652.48,CULBREATH JULIA,LINDSAY CHARLES,0.0,-75.199856,39.973386,058N160088,1.0,1.0,0,1.0,2009-04-23T00:00:00,2009-11-04T00:00:00,058N160088,2009,0.0,24.0,None,19104.0,2.0,2.0,POINT (2683129.288 243480.775)
3,720 N DEKALB ST,441837,Residential,Residential Medium,Residential Rowhouse,142494,2017,None,38000.0,38000.0,53172090,DEED,53244.00,MYRTLE HILL LLC,EDFET LLC,1.0,-75.197395,39.966321,057N150168,NaN,0.0,0,1.0,2017-01-30T00:00:00,2017-02-06T00:00:00,057N150168,2017,38000.0,24.0,None,19104.0,101.0,101.0,POINT (2683893.053 240928.169)
4,900-14 S 18TH ST,603057,Residential,Residential Medium,Residential Rowhouse,157957,2012,None,210000.0,210000.0,50905883,DEED,94811.52,QUINCY COURT LP,K K B J INC,1.0,-75.172869,39.940582,007S050024,NaN,0.0,0,2.0,2004-03-30T00:00:00,2004-04-15T00:00:00,007S050024,2004,420000.0,30.0,None,19146.0,431.0,431.0,POINT (2691038.409 231755.280)

# Download Images

In [70]:
# downloading street view images
flips_singleAddress_format = flips_singleAddress[['id','C_DIG3DESC','grantees_x_x','grantors_x','street_address_x']].copy()



flips_singleAddress_format.head()

,id,C_DIG3DESC,grantees_x_x,grantors_x,street_address_x
0,459723,Residential Rowhouse,JACKSON LISA RYAN; JACKSON THOMAS,BRAUN MEGHAN AINE; BRAUN SHIMON,12 HAMILTON CIR
1,67962,Residential Rowhouse,MICHAS SPIRO,29TH STREET COMMONS LP,2813 BROWN ST
2,231987,Residential Rowhouse,CULBREATH JULIA,LINDSAY CHARLES,3817 POPLAR ST
3,441837,Residential Rowhouse,MYRTLE HILL LLC,EDFET LLC,720 N DEKALB ST
4,603057,Residential Rowhouse,QUINCY COURT LP,K K B J INC,900-14 S 18TH ST

In [103]:
# investors 2018 streetview image download


streetview(flips_singleAddress_format,API_streetview,640,640,global_fov,
           'data/streetView')

<Response [200]>
data/streetView/459723.png
<Response [200]>
data/streetView/67962.png
<Response [200]>
data/streetView/231987.png
<Response [200]>
data/streetView/441837.png
<Response [200]>
data/streetView/603057.png